<section>
  <h4>Existing list?</h4>
      
  <form id="existent-tasklist" class="existent-tasklist">
    <fieldset>
      <label for="existent-tasklist-id">http://slooth.herokuapp.com/</label>
      <input id="existent-tasklist-input-id" class="input-text" type="text" placeholder="e.g.: mytasklist" />
      <input class="visuallyhidden" type="submit" />
    </fieldset>
  </form>
</section>

<hr />

<section>
  <h4>New list?</h4>

  <form id="new-tasklist">
    <fieldset>
      <input id="tasklist-input-id" class="input-text" type="text" name="tasklist_id" placeholder="Task list id (e.g.: mytasklist)"/>
      <input id="tasklist-input-password" class="input-text" type="password" name="password" placeholder="Password to access the task list"/>
      <input class="visuallyhidden" type="submit" />
    </fieldset>
  </form>
</section>