<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Sloth says: Ruth... Ruth... Ruth...</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" media="all" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merienda+One" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis:500" />
  
  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.1.min.js') }}"></script>
</head>
<body>
  <div class="wrapper">
    
    <div class="container">
      
      <header class="header">
        <h1>Sloth</h1>
        <h2>Remember: Do not procrastinate!</h2>
      </header>

      <div id="content" class="content">
        <img class="preloader" src="{{ url_for('static', filename='img/preloader.gif') }}" alt="Loading..." title="Loading..." />
      </div> <!-- #content -->

      <div id="note" class="note">
        <p class="message"></p>
      </div> <!-- .note -->

    </div> <!-- .container -->

  </div> <!-- .wrapper -->

  <!-- sloth says: ruth... ruth... ruth... -->
  <img class="sloth" src="{{ url_for('static', filename='img/sloth.png') }}" title="Ruth... Ruth... Ruth..." alt="Sloth" />

  <!-- RequireJS -->
  <script data-main="static/js/main" src="{{ url_for('static', filename='js/vendor/require-2.0.5.min.js') }}"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
