<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Task list</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" media="all" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merienda+One" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis:500" />
  
  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.1.min.js') }}"></script>
</head>
<body>
  <div class="wrapper">
    
    <div class="container">
      
      <header class="header">
        <h1>Sloth</h1>
        <h2>Remember: Do not procrastinate!</h2>
      </header>

      <div id="content"></div> <!-- #content -->

      <div id="note" class="note">
        <p class="message"></p>
      </div> <!-- .note -->

    </div> <!-- .container -->

  </div> <!-- .wrapper -->

  <!-- sloth says: ruth... ruth... ruth... -->
  <img class="sloth" src="{{ url_for('static', filename='img/sloth.png') }}" title="Ruth... Ruth... Ruth..." alt="Sloth" />

  <!-- templates  -->
  <script type="text/template" id="tasklist-new-template">
    <p>Please, type the <em>tasklist id</em> and the <em>password</em> to access it.</p>
    
    <form>
      <fieldset>
        <input id="tasklist-input-id" class="input-text" type="text" name="tasklist_id" placeholder="Task list id (e.g.: mytasklist)"/>
        <input id="tasklist-input-password" class="input-text" type="password" name="password" placeholder="Password to access the task list"/>
        <input class="visuallyhidden" type="submit" />
      </fieldset>
    </form>
  </script><!-- #tasklist-new-template -->

  <script type="text/template" id="tasklist-access-template">
    <p>The <em><%= tasklist_id %></em> tasklist is protected by a password. If you are not the owner of it, please go <a href="#/">here</a> and create one for you.</a>
    <p>Type the password to access the tasklist:</p>
    
    <form>
      <fieldset>
        <input id="tasklist-input-id" type="hidden" value="{{ tasklist_id }}" /> 
        <input id="tasklist-input-password" class="input-text" type="password" name="password" placeholder="Password to access the task list"/>
        <input class="visuallyhidden" type="submit" />
      </fieldset>
    </form>
  </script><!-- #tasklist-access -->

  <script type="text/template" id="tasklist-notfound-template">
    <p>The <em><%= tasklist_id %></em> tasklist does not have an owner and it's free for <a href="#/"  reservation</a>.</p>
  </script><!-- #tasklist-notfound -->
  
  <script type="text/template" id="tasklist-view-template">
    <form>
      <fieldset>
        <input id="task-new-input" class="input-text" type="text" name="title" placeholder="What needs to be done?" />
        <input class="visuallyhidden" type="submit" />
      </fieldset>
    </form>

    <ul id="task-list" class="tasklist">
    </ul> <!-- .todos -->

    <footer class="footer">
      <nav>
        <ul id="tasklist-filters" class="tasklist-filters">
          <li class="tasklist-filter tasklist-filter-all tasklist-filter-selected"><a href="#/<%= tasklist_id %>/all">All</a></li>
          <li class="tasklist-filter tasklist-filter-remaining"><a href="#/<%= tasklist_id %>/remaining">Remaining</a></li>
          <li class="tasklist-filter tasklist-filter-completed"><a href="#/<%= tasklist_id %>/completed">Completed</a></li>
        </ul>
      </nav>
    </footer>
  </script> <!-- #tasklist-view -->

  <script type="text/template" id="task-template">
    <label title="Mask as completed">
      <input class="checkbox" type="checkbox" <%= completed ? checked="checked" : '' %> />
      <span class="tasklist-item-title"><%- title %></span>
    </label>
    <button class="tasklist-item-delete" title="Delete task"></button>
  </script>

  <!-- require -->
  <script data-main="static/js/main" src="{{ url_for('static', filename='js/vendor/require-2.0.5.min.js') }}"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
